/* css variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.container {
    display: grid;
    grid-gap: 20px;
}

.nav-bar ul{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    list-style: none;
}

.nav-bar a {
    display: block;
    text-decoration: none;
    color: var(--dark);
    text-transform: uppercase;
    text-align: center;
    padding: 1.1rem;
    background-color: var(--primary);
    box-shadow: var(--shadow);
}

.nav-bar a:hover {
    background-color: var(--dark);
    color: var(--light);
}

.top-container {
    display: grid;
    grid-template-areas:
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';
    grid-gap: 20px;
}

img {
    max-width: 100%;
}

.showcase {
    grid-area: showcase;
    background-image: url(https://image.ibb.co/kYJK8x/showcase.jpg);
    background-size: cover;
    background-position: center;
    color: var(--light);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.showcase h1 {
    margin: 0;
    font-size: 3rem;
}

.showcase p {
    margin: 0;
}

.top-box {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    background-color: var(--primary);
    box-shadow: var(--shadow);
}

.top-box p{
    font-size: 2rem;
}

.top-box-a{
    grid-area: top-box-a;

}
.top-box-b{
    grid-area: top-box-b;
}

.btn {
    text-decoration: none;
    background-color: var(--dark);
    color: var(--light);
    padding: 0.8rem;
}

.btn:hover {
    background-color: var(--light);
    color: var(--dark);
    box-shadow: var(--shadow);
}

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.box {
    background-color: var(--primary);
    text-align: center;
    padding: 1.5rem;
    box-shadow: var(--shadow);
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.info div {
    background-color: var(--primary);
    box-shadow: var(--shadow);
    padding: 1.2rem;
}